.draggable, .logo {
  width: 50%;
  height: 10%;
  background-color: #FFFF00;
}

#drag-1, #drag-2, #spot {
  width: 10%;
  height: 10%;
  min-height: 6.5em;
  margin: 1%;

  background-color: #29e;
  color: white;

  border-radius: 100%;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

/*** CHARTE GRAPHIQUE ***/
/*

Noir du menu nav #242526;


*/

/*** MAIN RULES ***/
h1{
  margin: 0;

}


/*** MAIN CODE ***/
.parent{
  width: 1080px;
  height: 720px;
  background-color: hotpink;
  background-image: url(../img/image_immo.JPG);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100%;
  margin: auto;
}

/*** PAGE GALLERIE PHOTO  ***/

.case_bouton {
  vertical-sign:middle;
}
