/*** CHARTE GRAPHIQUE ***/
/*

Noir du menu nav #242526;


*/

/*** MAIN RULES ***/
h1{
  margin: 0;

}

/*** MAIN CODE ***/
.parent{
  width: 66%;
  height:100%;
  background-color: hotpink;
  background-image: url(../img/image_immo.JPG);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100%;
  margin: auto;
}

.hotspotValider {
    color: black;
}

/*** media querie for mobile ***/
@media screen and (max-width: 480px) {
  .parent{
  width: 100%;
  height:100%;
  background-color: hotpink;
  background-image: url(../img/image_immo.JPG);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100%;
  margin: auto;
  }
}

@media (max-width: 740px) and (orientation: landscape) {
  .parent{
  width: 100%;
  height:100%;
  background-color: hotpink;
  background-image: url(../img/image_immo.JPG);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100%;
  margin: auto;
  }
}/*** media querie for tablette ***/
@media screen and (max-width: 768px) {
  .parent{
  width: 100%;
  height:100%;
  background-color: hotpink;
  background-image: url(../img/image_immo.JPG);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100%;
  margin: auto;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .parent{
  width: 100%;
  height:100%;
  background-color: hotpink;
  background-image: url(../img/image_immo.JPG);
  background-repeat: no-repeat;
  background-position: contain;
  background-size: 100%;
  margin: auto;
  }
}

/*** PAGE GALLERIE PHOTO  ***/

.case_bouton {
  vertical-sign:middle;
}

/*** HOTSPOT  ***/

#hotspot {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}
/* explication du postionnement du hotspot final */
#descriptionFinalVue {
  display: none;
}

/* position de l'oeil sur la photo finale*/
#eye {
  pointer-events: none;
  display: none;
  opacity: 0.7;
  margin: auto;
  position: absolute;
  height: 100%;
  width: 100%
}

/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/
@-webkit-keyframes slack {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes slack {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.slack {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.slack:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: slack 400ms linear infinite;
          animation: slack 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.flexModalHotspotContainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}






