<!DOCTYPE html>
<html>
<head>
    <title>QuartzVR</title>

    <link type="text/css" rel="stylesheet" href="style/style.css"/>
    <link type="text/css" rel="stylesheet" href="style/quartz.css"/>

    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui"/>
    <meta property="og:type" content="website" />

    <script type="text/javascript" src="scripts/platform.min.js"></script>
    <script type="text/javascript" src="scripts/three.min.js"></script>
    <script type="text/javascript" src="scripts/quartz.min.js"></script>
</head>
<body>
    <div id="player" class="quartz-player" data-xml="tour.xml"></div>
    <div id="logo"></div>
    <div id="target"></div>
    <div id="cover"></div>
</body>
</html>
