/***  CHARTE GRAPHIQUE ***/
/*
#73C8A9 Cyan Clouds
#DEE1B6 morning light
#E1B866 Soft
#BD5532 Orange Clouds
#373B44 lowlight
#

*/
/***  GENERAL RULES ***/
/***  MAIN CODE ***/

/*=========btn custom============*/
.btn.btn-gray {
    border: 1px solid #FFFFFF;
    -webkit-box-shadow: inset 0 1px 2px ##FEFEFE;
    -moz-box-shadow: inset 0 1px 2px ##FEFEFE;
    box-shadow: inset 0 1px 2px ##FEFEFE;
    background: ##FEFEFE;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOTdhNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1ODI5NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c97a6), color-stop(100%, #FEFEFE));
    background-image: -webkit-linear-gradient(top, #8c97a6, #FEFEFE);
    background-image: -moz-linear-gradient(top, #8c97a6, #FEFEFE);
    background-image: -o-linear-gradient(top, #8c97a6, #FEFEFE);
    background-image: linear-gradient(top, #8c97a6, #FEFEFE);
}


.btn.btn-gray:hover {
    background: #FEFEFE;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOTdhNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzcyODA5MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8c97a6), color-stop(100%, #FEFEFE));
    background-image: -webkit-linear-gradient(top, #8c97a6, #FEFEFE);
    background-image: -moz-linear-gradient(top, #8c97a6, #FEFEFE);
    background-image: -o-linear-gradient(top, #8c97a6, #FEFEFE);
    background-image: linear-gradient(top, #8c97a6, #FEFEFE);
    -webkit-transition: box-shadow 0.05s ease-in-out;
    -moz-transition: box-shadow 0.05s ease-in-out;
    -o-transition: box-shadow 0.05s ease-in-out;
  transition: box-shadow 0.05s ease-in-out;
}


.btn.btn-gray:active {
    background: #818d9d;
    border-color: #5d6979;
    -webkit-box-shadow: 0 0 5px #818d9d inset;
    -moz-box-shadow: 0 0 5px #818d9d inset;
    box-shadow: 0 0 5px #818d9d inset;
}

.btn-group.open .btn.btn-gray.dropdown-toggle {
    background-color: #8c97a6;
}


/* Création du cercle HOTSPOT*/
/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/

@-webkit-keyframes circleSmall {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes circleSmall {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.circleSmall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.circleSmall:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: circleSmall 400ms linear infinite;
          animation: circleSmall 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/

@-webkit-keyframes circleMedium {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes circleMedium {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.circleMedium {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.circleMedium:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: circleMedium 400ms linear infinite;
          animation: circleMedium 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/
@-webkit-keyframes circleLarge {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes circleLarge {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.circleLarge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.circleLarge:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: circleLarge 400ms linear infinite;
          animation: circleLarge 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}


.selectLink{
  display: none;
}

.hotspotSave{
  display: none;
}

/** modal image **/
.miniature{
  width: 20%;
  max-height: 10%;
  vertical-align: middle;
}

#photoLink{
  display: none;
  width: 100%;
  max-height: 100%;
}

/*=============test show and create hsp============*/
.selectLink1{
	display: none;
}

.hotspotSave1{
  display: none;
}

.eye1{
	display: none;
}

/** modal image **/
.miniature1{
	width: 20%;
	max-height: 10%;
  vertical-align: middle;
}

#photoLink1{
	display: none;
	width: 100%;
	max-height: 100%;
}

#link_id1{
  vertical-align: middle;
}



/*------------------------------------------------*\
  Wheel Alt 4
\*------------------------------------------------*/
.wheel-alt2 {
  box-shadow: none;
  border-color: #31a068;
}
.wheel-alt2:before {
  border: 2px solid #31a068;
}

/*------------------------------------------------*\
  Wheel Alt hotspot 5
\*------------------------------------------------*/
.wheel-alt {
  box-shadow: inset 0 0 0 2px #53cb8f;
  border-color: #53cb8f;
}
.wheel-alt:before {
  border: 2px solid #31a068;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

/*------------------------------------------------*\
  Wheel hotspot 6
\*------------------------------------------------*/
@-webkit-keyframes wheel {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
@keyframes wheel {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
.wheel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 4px dashed #37b475;
  -webkit-animation: wheel 6s linear infinite;
          animation: wheel 6s linear infinite;
  box-shadow: inset 0 0 4px 2px rgba(55, 180, 117, 0.6);
}
.wheel:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  background-color: #37b475;
}


/***  CHARTE GRAPHIQUE ***/
/*
#73C8A9 Cyan Clouds
#DEE1B6 morning light
#E1B866 Soft
#BD5532 Orange Clouds
#373B44 lowlight
#

*/
/***  GENERAL RULES ***/
/***  MAIN CODE ***/


.hotspotArea{
  width: 100%;
  max-height: 100%;
}

.hotspotArea:hover{
}

/* Création du cercle HOTSPOT*/
/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/

@-webkit-keyframes circleSmall {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes circleSmall {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.circleSmall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.circleSmall:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: circleSmall 400ms linear infinite;
          animation: circleSmall 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/

@-webkit-keyframes circleMedium {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes circleMedium {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.circleMedium {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.circleMedium:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: circleMedium 400ms linear infinite;
          animation: circleMedium 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/
@-webkit-keyframes circleLarge {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes circleLarge {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.circleLarge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.circleLarge:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: circleLarge 400ms linear infinite;
          animation: circleLarge 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}


.selectLink{
  display: none;
}

.hotspotSave{
  display: none;
}

/** modal image **/
.miniature{
  width: 20%;
  max-height: 10%;
  vertical-align: middle;
}

#photoLink{
  display: none;
  width: 100%;
  max-height: 100%;
}

#link_id{
  vertical-align: middle;
}

/*------------------------------------------------*\
  Container Rules
\*------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper {
  width: 850px;
  margin: 20px auto;
}

.item {
  display: table;
  float: left;
  width: 150px;
  height: 150px;
  border: 2px solid #dadada;
  margin: 10px;
}
.item:nth-of-type(even) {
  background-color: #eee;
}

.item-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.item-inner > a {
  text-decoration: none;
  display: inline-block;
}

/*------------------------------------------------*\
  Sonar hotspot 1
\*------------------------------------------------*/
@-webkit-keyframes sonar {
  from {
    box-shadow: 0 0 0 0 #ff93df, 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }
  to {
    box-shadow: 0 0 0 10px rgba(255, 147, 223, 0), 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }
}
@keyframes sonar {
  from {
    box-shadow: 0 0 0 0 #ff93df, 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }
  to {
    box-shadow: 0 0 0 10px rgba(255, 147, 223, 0), 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }
}
.sonar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff93df;
  border: 2px solid #ff60d0;
  -webkit-animation: sonar 800ms ease-out infinite;
          animation: sonar 800ms ease-out infinite;
}

/*------------------------------------------------*\
  Slack hotspot 2
\*------------------------------------------------*/
@-webkit-keyframes slack {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes slack {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}
.slack {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}
.slack:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  content: "";
  display: block;
  border: 4px solid #fff;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.2), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: slack 400ms linear infinite;
          animation: slack 400ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*------------------------------------------------*\
  Swoop hotspot 3
\*------------------------------------------------*/
@-webkit-keyframes swoop {
  0% {
    box-shadow: inset 0 0 0 0 #67c1ea, inset 0 0 0 0 white;
  }
  50% {
    box-shadow: inset 0 0 0 0 #67c1ea, inset 0 0 0 15px white;
  }
  100% {
    box-shadow: inset 0 0 0 15px #67c1ea, inset 0 0 0 15px white;
  }
}
@keyframes swoop {
  0% {
    box-shadow: inset 0 0 0 0 #67c1ea, inset 0 0 0 0 white;
  }
  50% {
    box-shadow: inset 0 0 0 0 #67c1ea, inset 0 0 0 15px white;
  }
  100% {
    box-shadow: inset 0 0 0 15px #67c1ea, inset 0 0 0 15px white;
  }
}
.swoop {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-animation: swoop 1s infinite;
          animation: swoop 1s infinite;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
  -webkit-animation-timing-function: cubic-bezier(0.71, 0.13, 1, 0.71);
          animation-timing-function: cubic-bezier(0.71, 0.13, 1, 0.71);
  background-color: #67c1ea;
}

/*------------------------------------------------*\
  Wheel Alt 4
\*------------------------------------------------*/
.wheel-alt2 {
  box-shadow: none;
  border-color: #31a068;
}
.wheel-alt2:before {
  border: 2px solid #31a068;
}

/*------------------------------------------------*\
  Wheel Alt hotspot 5
\*------------------------------------------------*/
.wheel-alt {
  box-shadow: inset 0 0 0 2px #53cb8f;
  border-color: #53cb8f;
}
.wheel-alt:before {
  border: 2px solid #31a068;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

/*------------------------------------------------*\
  Wheel hotspot 6
\*------------------------------------------------*/
@-webkit-keyframes wheel {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
@keyframes wheel {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}
.wheel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border: 4px dashed #37b475;
  -webkit-animation: wheel 6s linear infinite;
          animation: wheel 6s linear infinite;
  box-shadow: inset 0 0 4px 2px rgba(55, 180, 117, 0.6);
}
.wheel:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  background-color: #37b475;
}

/*------------------------------------------------*\
  Egg hotspot 7
\*------------------------------------------------*/
@-webkit-keyframes egg {
  from {
    box-shadow: inset 0 0 12px 6px rgba(247, 126, 45, 0.6);
  }
  to {
    box-shadow: inset 0 0 4px 2px rgba(247, 126, 45, 0.4);
  }
}
@keyframes egg {
  from {
    box-shadow: inset 0 0 12px 6px rgba(247, 126, 45, 0.6);
  }
  to {
    box-shadow: inset 0 0 4px 2px rgba(247, 126, 45, 0.4);
  }
}
.egg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 6px 4px rgba(247, 126, 45, 0.6);
  -webkit-animation: egg 600ms linear infinite;
          animation: egg 600ms linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.egg:before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  background-color: rgba(247, 126, 45, 0.8);
  border: 2px solid #f77e2d;
}

/*------------------------------------------------*\
  Target hotspot 10
\*------------------------------------------------*/
@-webkit-keyframes target {
  0% {
    -webkit-transform: rotateZ(0) scale(0.6);
            transform: rotateZ(0) scale(0.6);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scale(1);
            transform: rotateZ(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scale(0.6);
            transform: rotateZ(360deg) scale(0.6);
  }
}
@keyframes target {
  0% {
    -webkit-transform: rotateZ(0) scale(0.6);
            transform: rotateZ(0) scale(0.6);
  }
  50% {
    -webkit-transform: rotateZ(180deg) scale(1);
            transform: rotateZ(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotateZ(360deg) scale(0.6);
            transform: rotateZ(360deg) scale(0.6);
  }
}
.target {
  position: relative;
  background-color: #fff;
  border: 2px solid #b3b3b3;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: target 2s linear infinite;
          animation: target 2s linear infinite;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.target:before, .target:after {
  content: "";
  display: block;
  position: absolute;
}
.target:before {
  top: 16px;
  left: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: #b3b3b3 transparent transparent transparent;
}
.target:after {
  bottom: 16px;
  right: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #b3b3b3 transparent;
}

/*------------------------------------------------*\
  Morph hotspot 8
\*------------------------------------------------*/
@-webkit-keyframes morph {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    border-radius: 20%;
  }
  50% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    border-radius: 20%;
  }
}
@keyframes morph {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    border-radius: 20%;
  }
  50% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
    border-radius: 20%;
  }
}
.morph {
  width: 36px;
  height: 36px;
  position: relative;
  box-shadow: 0 0 6px 4px rgba(247, 45, 65, 0.4);
  -webkit-animation: morph 1s linear infinite;
          animation: morph 1s linear infinite;
}
.morph, .morph:before {
  background-color: rgba(247, 45, 65, 0.6);
}
.morph:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  content: "";
  display: block;
}

/*------------------------------------------------*\
  sq hotspot 9
\*------------------------------------------------*/
@-webkit-keyframes sq {
  from {
    box-shadow: 0 0 0 0 white, 0 0 0 0 white;
  }
  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0), 0 0 0 12px rgba(255, 255, 255, 0);
  }
}
@keyframes sq {
  from {
    box-shadow: 0 0 0 0 white, 0 0 0 0 white;
  }
  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0), 0 0 0 12px rgba(255, 255, 255, 0);
  }
}
.sq {
  width: 24px;
  height: 24px;
  position: relative;
  border-radius: 20%;
  background-color: rgba(70, 217, 192, 0.6);
  box-shadow: inset 0 0 8px 6px rgba(32, 153, 133, 0.4), 0 0 4px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.sq:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-animation: sq 800ms infinite;
          animation: sq 800ms infinite;
}

/*=========image REMODAL on show.blade.php===========*/
 .image_link {
/*  height: auto;
  max-height: 25%
  width: 40%;
*/
 }
