/*
*******************************************
*******************************************

Style ajoutée au template spark theme

*******************************************
*******************************************
*/

/*page de creation de l'expérience
create.blade.php*/
body > div.cartArea.secPdngB > div:nth-child(1) > form > div > div.col-md-12.animated.fadeInUp > div > div > div:nth-child(7) > span > div > div > select{
{
	padding: 0;
	margin-top: 20px;
}

body > div.cartArea.secPdngB > div:nth-child(1) > form > div > div.supportInput > input[type="submit"]:nth-child(8)
{
	border-radius: 4px;
}

/* page index experience 
nommé : exp? */